@import "tailwindcss";

/* 注意：在 v4 中，@import "tailwindcss"; 
  会自动包含 base, components, 和 utilities。
*/

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-900 text-zinc-100;
  }
}

/* 自定义滚动条 - 极客风 */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full border-2 border-slate-900;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-indigo-500;
}