@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(250 250 250);
    color: rgb(24 24 27);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .dark body {
    background-color: rgb(15 23 42);
    color: rgb(241 245 249);
  }
}

/* 滚动条美化 */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 dark:bg-zinc-700 rounded-full border-2 border-zinc-50 dark:border-slate-900;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-400 dark:bg-indigo-500;
}